task_8/__pycache__/room_available.cpython-310.pyc
task_9/__pycache__/sum_digits.cpython-310.pyc
.DS_Store
task_5/__pycache__/city_game.cpython-310.pyc
.gitignore
task_10/__pycache__/
task_10/__pycache__/list.cpython-310.pyc
task_10/__pycache__/mylist.cpython-310.pyc
task_10/__pycache__/mylist.cpython-310.pyc

task_24/__pycache__/zipsort.cpython-310.pyc
task_25/__pycache__/palindrome.cpython-310.pyc
